@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.trial-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/ship1.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.about-hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.pexels.com/photos/2144905/pexels-photo-2144905.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.redefine-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/warehouse.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.filter-container {
  backdrop-filter: blur(2px);
}
